body {
    font-family: Poppins, sans-serif;
    margin: 0;
    background-color: #f4f7f5;
}

* {
    padding: 0;
    margin: 0;
}

hr {
    background-color:#ff7f00;
    height: 0.625rem;
    border: 0px;
}

/* Navbar */

#navbar {
    width: 100%;
    z-index: 20;
    background-color: #d9005f;
    border-bottom: 0.625rem solid #ff7f00;

    /*
    border-bottom: 100px solid;
 
    border-image: url("assets/removed_bg/border_line_1.png");
    border-image-slice: 147; 
    */
    
}

#nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    padding: 0px;
    margin: 0px;
}

#nav-list a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 50px;
    font-weight: bold;
    font-size: 1.25rem;
    
    background-color: #d9005f;
    transition: 0.3s;
}

#nav-list a:hover {
    background-color: #ff7f00;
    transition: 0.3s;
}

/* Welcome */
#welcome-section{
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: #F4F7F5;
    color: #00819f;
    padding: 20rem 0;
}

#welcome-section > h1{
    text-align: center;
    font-size: 6.25rem;
}

#welcome-section > p{
    text-align: center;
    font-size: 1.563rem;
}

/* Description */
#description-section{
}

#description-list{
    list-style: inside;
    color: #00819f;
    font-size: 1.5rem;
}

#description-list > li{
    padding: 1rem 0;
}

/*
#border{
    padding: 15px;
    border: 100px solid;
    border-image: url("assets/removed_bg/border_line_1.png");
    border-image-slice: 147;
    opacity: 0;
    transition: opacity 0.1s;
}

#border.ready{
    opacity:1;
}


#border > h1 {
    padding: 0 10%;
    text-align: center;
    font-size: 100px;
}

#border > p {
    text-align: center;
    font-size: 20px;
    max-width: 580px;
    margin: 0 auto;
}

*/


/* Footer */

footer {
    font-family: Poppins, sans-serif;
    background-color: #d9005f;
    padding: 2%;
    border-top: 5px solid #00819f;
}

footer p {
    color: #F4F7F5;
    font-weight: bold;
    text-align: right;
}

@media (max-width: 480px) {
    header {display: none;}
}