body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4f7f5;
}

* {
    padding: 0;
    margin: 0;
}

#hr-green {
    background-color:#87ea00;
    height: 0.625rem;
    border: 0px;
}

#hr-blue {
    background-color:#00819f;
    height: 0.625rem;
    border: 0px;
}

#hr-orange {
    background-color:#ff7f00;
    height: 0.625rem;
    border: 0px;
}

#hr-red {
    background-color:#d9005f;
    height: 0.625rem;
    border: 0px;
}


/* Navbar */

#navbar {
    width: 100%;
    background-color: #d9005f;
    border-bottom: 0.625rem solid #ff7f00;

    /*
    border-bottom: 100px solid;
 
    border-image: url("assets/removed_bg/border_line_1.png");
    border-image-slice: 147; 
    */
    
}

#nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    padding: 0px;
    margin: 0px;
}

#nav-list a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 50px;
    font-weight: bold;
    font-size: 1.25rem;
    
    background-color: #d9005f;
    transition: 0.3s;
}

#nav-list a:hover {
    background-color: #ff7f00;
    transition: 0.3s;
}

/* Welcome */
#welcome-section{
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: #F4F7F5;
    color: #00819f;
    padding: 10rem 0;
}

#welcome-section > h1{
    text-align: left;
    font-size: 6.25rem;
    padding: 0 10rem;
}

#welcome-section > p{
    text-align: left;
    font-size: 1.563rem;
    padding: 2rem 10rem;

}

/* Description */
#about-section{
    padding: 10rem 0;
}

#about-list{
    list-style: inside;
    color: #00819f;
    font-size: 1.6rem;
    padding: 0 5rem;
}

#about-list > li{
    padding: 1rem 0;
}

/* Projects */

#project-section{
    text-align: center;
    font-size: 1.625rem;
}

#project-section > h1{
    text-align: center;
    color: #00819f;
    margin-top: 2rem;
}

#project-container{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}


#gamejam-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5rem 0;

}

.gamejam-tile{
    padding: 1.5rem 0;
    margin: 1.8rem;
}

.gamejam-image img{
    width: 315px;
    height: 250px;
    border: 0.8rem solid #87ea00;
    border-radius: 0.625rem;

}

.gamejam-title{
    font-weight: Bold;
    padding: 1rem 0;
    color: black;
}

.gamejam-description{
    font-size: 1.2rem;
}

#current-section{
    padding: 16rem 5rem;
}

#current-section > h1{
    font-size: 2.5rem;
    color:#87ea00;
}

#current-section > p{
    font-size: 2.5rem;
    color: #00819f;
}

#contacts {
  text-align: center;
  color: #00819f;
  font-size: 20px;
  background-color: #F4F7F5;
  padding: 10rem 0px;
}

#contacts > h1 {
  font-size: 50px;
}

#contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 250px;
}

.contact-tile a img{
  border: 5px solid #87ea00;
  transition: 0.3s;
  width: 30%;
  border-radius: 15px;

}

.contact-tile a img:hover{
  border: 5px solid #ff7f00;
  transform: scale(1.1);
  transition: 0.3s;
}


/*
#border{
    padding: 15px;
    border: 100px solid;
    border-image: url("assets/removed_bg/border_line_1.png");
    border-image-slice: 147;
    opacity: 0;
    transition: opacity 0.1s;
}

#border.ready{
    opacity:1;
}


#border > h1 {
    padding: 0 10%;
    text-align: center;
    font-size: 100px;
}

#border > p {
    text-align: center;
    font-size: 20px;
    max-width: 580px;
    margin: 0 auto;
}

*/


/* Footer */

footer {

    padding: 2%;
    font-family: Poppins, sans-serif;
    background-color: #d9005f;
    border-top: 5px solid #00819f;
}

footer p {
    color: #F4F7F5;
    font-weight: bold;
    text-align: right;
}

@media (max-width: 480px) {
    header {display: none;}
}